<h1>成功的PC硬件</h1>
<p><img alt="" height="252" src="https://40923243.github.io/cp2020/images/pc-assembly.jpg" width="315"/></p>
<p id="N10654" lang=""><span><span>PC Hardware是一門在線課程，其中的內容將以文本和活動的形式呈現。</span></span></p>
<p id="N10657" lang=""><span><span>與傳統課程相比，您將擁有更多的靈活性，但是您也將對自己的學習承擔更多責任。</span><span>您將需要：</span></span></p>
<ul lang="">
<li lang=""><span><span>計劃如何遍歷每個單元。</span></span></li>
<li lang=""><span><span>確定如何使用課程的各種功能來幫助您學習。</span></span></li>
<li lang=""><span><span>確定何時需要尋求其他支持。 </span></span><span><span></span></span></li>
<li lang="">
<p>UNIT2:<span>Hardware Basics(硬件基礎)</span></p>
<p id="N10705" lang="">The CPU is the master of the computer. Every subsystem, including the input, output, and storage systems, interacts with and through the processor. For example, the processor receives the user’s input (such as a mouse double-clicking a file on the screen), then interacts with the storage device (such as the hard drive) to retrieve the file. Processing, which is the act of taking data that has been input and converting it to something usable, occurs. Then, the processor creates a visual display of the file by outputting it to the monitor through the output subsystems.</p>
<p id="N10708" lang="">Some hardware serves as storage. The storage functions are handled in the storage subsystems. This area is focused on the act of saving data for future use and retrieval. Early computers had very limited storage, so each program had to be entered prior to running it each time you wanted to use it. In modern computers, storage space has grown exponentially; even basic computers have hundreds of gigabytes or even terabytes of information storage available. Computers use both short-term and long-term storage in their daily operations. For example, when you are typing up a report for school, it is stored in the short-term memory (RAM) of the computer while you are typing and editing the document. Once you save the document, it is transferred to the hard drive (internal) or a USB flash drive (external) for long-term storage and future access.</p>
<p id="N1070B" lang="">Let’s look at the internal components of a PC. Explore the simulation below to identify and locate the key internal components of the system unit within a desktop PC. To identify components, move your mouse pointer over the name of the component or the image. Then click on each component to see a detailed view. In the detailed view, you will be able to rotate most components for a complete examination.</p>
<p lang=""><span>CPU是計算機的主機CPU是計算機的主機。每個子系統，包括輸入，輸出和存儲系統，都與處理器交互並通過處理器進行交互。子宮。每個子系統，包括輸入，輸出和存儲系統，都與處理器交互並通過處理器進行交互。例如，處理器接收用戶的輸入（例如，鼠標雙擊屏幕上的文件），然後與存儲設備（例如，硬盤驅動器）進行交互以檢索文件。發生處理，這是獲取已輸入數據並將其轉換為可用數據的行為。然後，處理器通過將文件通過輸出子系統輸出到監視器來創建文件的可視顯示。 一些硬件充當存儲。存儲功能在存儲子系統中處理。該領域專注於保存數據以備將來使用和檢索的行為。早期計算機的存儲空間非常有限，因此每次您想使用它時，都必須在運行該程序之前先輸入每個程序。在現代計算機中，存儲空間成倍增長。甚至基本計算機都具有數百GB甚至TB的可用信息存儲。計算機在日常操作中同時使用短期和長期存儲。例如，當您為學校鍵入報告時，在鍵入和編輯文檔時，報告將存儲在計算機的短期內存（RAM）中。保存文檔後，會將其傳輸到硬盤驅動器（內部）或USB閃存驅動器（外部）以進行長期存儲和以後的訪問。 讓我們看一下PC的內部組件。探索以下仿真，以識別並找到台式機內系統單元的關鍵內部組件。要識別組件，請將鼠標指針移到組件或圖像的名稱上。然後單擊每個組件以查看詳細視圖。在詳細視圖中，組件以進行完整檢查。</span></p>
<p lang=""></p>
<p lang="">                          <img alt="Photograph of a central processing unit    being held between a thumb and finger." class="popimg" id="_i_5" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH01/webcontent/PCH01/image13.png" title="Photograph of a central processing unit    being held between a thumb and finger."/></p>
</li>
</ul><h2>Develop</h2>
<p><a href="https://github.com/mdecourse/cmsimde">https://github.com/mdecourse/cmsimde</a> 的開發, 可以在一個目錄中放入 cmsimde, 然後將 up_dir 中的內容放到與 cmsimde 目錄同位階的地方, 使用 command 進入 cmsimde 目錄, 執行 python wsgi.py, 就可以啟動, 以瀏覽器 https://localhost:9443 就可以連接, 以 admin 作為管理者密碼, 就可以登入維護內容.</p>
<p>cmsimde 的開發採用 Leo Editor, 開啟 cmsimde 目錄中的 cmsimde.leo 就可以進行程式修改, 結束後, 若要保留網際內容, 只要將 cmsimde 外部的內容倒回 up_dir 目錄中即可後續對 cmsimde 遠端倉儲進行改版.</p>
<p>init.py 位於  up_dir 目錄, 可以設定 site_title 與 uwsgi 等變數.</p>
<h3>TEST</h3>